<header class="header">
  <div class="header__container">
    <img class="header__logo" src="/assets/images/logo.png" alt="juantap logo" routerLink="/home"
      ariaCurrentWhenActive="page">
    <div class="header__nav">
      <nav class="header__nav-list">
        <button routerLink="/home" routerLinkActive="active" class="header__nav-item">Home</button>
        <button routerLink="/about" routerLinkActive="active" class="header__nav-item">About</button>
        <button routerLink="/contact" routerLinkActive="active" class="header__nav-item">Contact</button>
        <button routerLink="/faqs" routerLinkActive="active" class="header__nav-item">Help</button>
        <button routerLink="/download" routerLinkActive="active" class="header__nav-item">Download</button>
        <button routerLink="/login" routerLinkActive="active" class="header__nav-item">Login</button>
      </nav>
    </div>
    <button class="header__menu-icon" (click)="showMenu()">
      <mat-icon>{{ menu ? 'close' : 'menu' }}</mat-icon>
    </button>
  </div>

  <ul [class]="'header__mobile-menu ' + (menu ? 'show' : 'hidden')">
    <button (click)="linkClick()" routerLink="/home" routerLinkActive="activeItem" class="header__nav-item">Home</button>
    <button (click)="linkClick()" routerLink="/about" routerLinkActive="activeItem" class="header__nav-item">About</button>
    <button (click)="linkClick()" routerLink="/contact" routerLinkActive="activeItem" class="header__nav-item">Contact</button>
    <button (click)="linkClick()" routerLink="/faqs" routerLinkActive="activeItem" class="header__nav-item">Help</button>
    <button (click)="linkClick()" routerLink="/download" routerLinkActive="activeItem" class="header__nav-item">Download</button>
    <button (click)="linkClick()" routerLink="/login" routerLinkActive="activeItem" class="header__nav-item">Login</button>
  </ul>
</header>