.activebutton { 
    background: #113CFC ;
    border-radius: 6px; 
    display: inline-block;
    cursor: pointer;
    color: #ffff00; 
    font-size: 18px;
    font-weight: bold; 
    text-decoration: none; 
    outline: 0;
}