@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './globals';
$color-primary-bg: #193498;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.nav-bar {
    @include light-primary;
    width: 100%;
    min-width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(to right, #1597E5, #193498);
    // position: fixed;
    // z-index: 9;

    &__logo {
        max-width: 150px;
        margin-right: 10rem;
    }

    &__icon {
        color: white;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__button {
        @include text;
        background-color: transparent;
        color: white;
        font-size: 18px;
        font-weight: 400;
        border: none;
        outline: none;
        padding: 10px 20px;

        &:hover {
            @include bg-secondary;
            color: yellow;
            box-shadow: 0 0.5em 0.5em -0.4em $color-primary-bg;
            transform: translateY(-0.2em);
            border-radius: .5rem;
            transition: 0.3s ease;
        }

    }

    // -- incase want to have a theme -- //
    &__settings {
        justify-self: right;
    }
}


/*------------------------------------------
    Responsive Grid Media Queries - 1280, 1024, 768, 480
    1280-1024   - desktop (default grid)
    1024-768    - tablet landscape
    768-480     - tablet 
    480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {}

@media all and (min-width: 480px) and (max-width: 768px) {}

@media all and (max-width: 480px) {}

