<main>
  <header class="nav-bar">
    <img class="nav-bar__logo" src="/assets/images/logo.png" alt="juantap logo">
    <div class="nav-bar__menu">
      <ul class="nav-bar__list" *ngFor="let item of navItems">
        <li class="nav-bar__tabs">
          <button class="nav-bar__button">{{ item['name'] }}</button>
        </li>
      </ul>
    </div>

    <div class="menu">
      <span class="menu__bar"></span>
      <span class="menu__bar"></span>
      <span class="menu__bar"></span>
    </div>

    <!-- <div class="nav-bar__settings">theme</div>    incase you want to have a theme-switcher -->
  </header>
  <!-- <app-home></app-home>
  <app-about></app-about>
  <app-contact></app-contact>
  <app-faqs></app-faqs>
  <app-download></app-download>
  <app-footer></app-footer> -->
</main>