<main>
  <!-- <header class="nav-bar md:h-screen">
    <img class="nav-bar__logo" src="/assets/images/logo.png" alt="juantap logo">
    <div class="nav-bar__menu">
      <ul class="nav-bar__list" *ngFor="let item of navItems">
        <li class="nav-bar__tabs">
          <button class="nav-bar__button">{{ item['name'] }}</button>
        </li>
      </ul>
    </div> 
  </header> -->

  
  <app-header></app-header>
  <router-outlet></router-outlet> 
  <!-- <app-home id="Home"></app-home>
  <app-about id="About"></app-about>
  <app-contact id="Contact"></app-contact>
  <app-faqs id="Help"></app-faqs>
  <app-download id="Download"></app-download> -->
  <app-footer></app-footer>
</main>
<!-- <div class="nav-bar__settings">theme</div>    incase you want to have a theme-switcher -->