<section class="home">
    <div class="home__text">
        <span class="home__text--title"> One - Tap Ride</span>
        <p class="home__text--subtitle">
            Enjoy a hassle free <br />
            commuting experience.
        </p>
        <span class="home__text--question">Not registered yet?</span>
        <button class="home__button" mat-button (click)="openDialog()">
            Create account
        </button>
    </div>
    <img class="home__img" src="/assets/images/home/jeepvector.png" alt="jeep-vector">
</section>
<app-contact></app-contact>