<div class="hero-banner">
    <div class="hero-banner__text">
        <h1 class="hero-banner__title"> One - Tap Ride</h1>
        <h4 class="hero-banner__subtitle">
            Enjoy a hassle free <br/>
            commuting experience.
        </h4>
        <p class="hero-banner__question">Not yet Registered?</p>
        <button class="hero-banner__button">
            Register here
        </button>
    </div>
    <img src="/assets/images/home/jeepvector.png" alt="jeep-vector" class="hero-banner__img">
</div>

