@import '../../globals';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.download {
    width: 100%;
    min-width: 1200px;
    height: 100vh;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    &__content {
        @include text;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
    }

    &__description {
        font-size: 18px;
    }

    &__button {
        @include text;
        @include light-primary;
        font-size: 20px;
        padding: 15px;
        color: #fff;
        background-color: #1EA5F7;
        width: 200px;
        text-align: center;
        border: 1px solid transparent;
        border-radius: .2rem;
        text-decoration: none;
        transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &:hover {
            color: #1EA5F7;
            background-color: #fff;
            border-color: #1EA5F7;
        }
    }

    &__img {
        width: 350px;
    }

    &__qr {
        width: 150px;
    }
}