<section>
    <div class="download">
        <img src="/assets/images/download/mobile.png" alt="android app" class="download__img">
        <div class="download__content">
            <span class="download__title">Download and Start Using!</span>
            <p class="download__description">Manage your cards and monitor your transactions with official Juantap App!</p>
            <img src="/assets/images/download/qrcode.png" alt="android app" class="download__qr">
            <button class="download__button">Get the app</button>
        </div>
    </div>
</section>