<section class="w-full h-screen bg-white flex flex-row justify-center items-center">
    <div class="flex flex-row justify-evenly items-center gap-8 py-8">
        <img class="w-[350px] hidden md:flex animate--bounce" src="/assets/images/download/mobile.png"
            alt="android app">
        <div class="flex flex-col justify-center items-center gap-4">
            <span class="text-3xl font-bold text-center">Download and Start Using!</span>
            <p class="w-[80%] text-xl font-medium text-center break-normal">Manage your cards and monitor your
                transactions with official Juantap App!</p>
            <img src="/assets/images/download/qrcode.png" alt="android app" class="download__qr">
            <button
                class="h-[4rem] w-[12rem] text-white text-xl bg-lightPrimary rounded-lg p-4 hover:text-lightPrimary hover:bg-white hover:border-lightPrimary hover:border-[1px] hover:shadow-[0_0.5em_0.5em_-0.4em_#193498] hover:translate-y-[-0.1em] ease-linear duration-[0.2s] ">Get
                the app</button>
        </div>
    </div>
</section>