<section class="w-full h-screen md:mt-[-100px] md:mb-[-80px] flex flex-col justify-center items-center">
    <div class="w-[800px] h-[400px] flex flex-row justify-center items-center">
        <img class="w-[200px] animate--bounce hidden md:flex" src="/assets/images/download/mobile.webp" alt="android app">
        <div class="w-[600px] flex flex-col justify-center items-center gap-4">
            <span class="text-2xl font-bold text-center">Download and Start Using!</span>
            <p class="w-[70%] text-lg font-medium text-center break-normal">Manage your cards and monitor your
                transactions with official Juantap App!</p>
            <img src="/assets/images/download/qrcode.webp" alt="android app" class="w-[120px]"> 
            <button class="w-[10rem] h-[3rem] text-white bg-lightPrimary rounded-lg  hover:text-lightPrimary hover:bg-white hover:border-lightPrimary hover:border-[1px] hover:shadow-[0_0.5em_0.5em_-0.4em_#193498] hover:translate-y-[-0.1em] ease-linear duration-[0.2s]" 
                >Get the app
            </button>
        </div> 
    </div>
</section>